<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","wideSize":"1170px","contentSize":"1024px"}} -->
<main class="wp-block-group"><!-- wp:post-title /-->

	<!-- wp:shortcode -->
	[single-inbody]
	<!-- /wp:shortcode -->

	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous"} /-->

		<!-- wp:post-navigation-link /--></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
